language: r
cache: packages

r_check_args: '--as-cran'
warnings_are_errors: true

addons:
  apt:
    packages:
     - libgsl0-dev
     - gsl-bin
  homebrew:
    packages: gsl

# build matrix
matrix:
  include:
  - r: oldrel
  - r: devel
  - r: release
  - r: release
    os: osx


#before_install:
#  - sudo apt-get update
#  - Rscript -e 'update.packages(ask = FALSE)'

############################
# better caching for Travis
# See : https://pjs-web.de/post/using-ccache-to-speed-up-r-package-checks-on-travis-ci/
###########################
#cache:
#  - ccache

