import("MASS", "elasticnet", "parallel")
importFrom("graphics","plot")
importFrom("grDevices", "palette")
importFrom("graphics", "abline", "axis", "barplot", "hist", "layout","legend", "lines", "matplot", "par", "points", "text","title")
importFrom("stats", "cov", "cutree", "dist", "hclust", "kmeans","lsfit", "rmultinom","var")
export("fem","sfem","plot.fem","print.fem","fem.ari")
S3method("plot","fem")
S3method("print","fem")
