importFrom(graphics,plot)
export(fem,evalEM,plot.fem)
exportPattern(criteria.R,estep.R,estep_par.R,fem.loglik.R,fem_main.R,fem_sparse.R,fstep.fisher.R,fstep.GramSc.R,fstep.qiao.R,fstep.sparse.R,mstep.R)
S3method(plot,fem)