import("MASS", "elasticnet", "parallel")
import("ggplot2")
importFrom("ellipse","ellipse")
importFrom("plyr","ldply")
importFrom("graphics","plot")
importFrom("grDevices", "palette")
importFrom("graphics", "abline", "axis", "barplot", "hist", "layout","legend", "lines", "matplot", "par", "points", "text","title")
importFrom("stats", "cov", "cutree", "dist", "hclust", "kmeans","lsfit", "rmultinom","var")
export("fem","sfem","plot.fem","print.fem","fem.ari")
export("bfem", "simu_bfem")
export("plot.bfem", "plot_crit", "plot_bound", "plot_subspace")
S3method("plot","fem")
S3method("print","fem")
S3method("plot","bfem")
